<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Creative Space</title>
    <script type="text/javascript">
        $(window).on('load', function () {
            var delayMs = 1500; // delay in milliseconds

            setTimeout(function () {
                $('#myModal').modal('show');
            }, delayMs);
        });
    </script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-light" href="#">Iona College</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


        </ul>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Login">
            Admin Login
        </button>
    </div>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Creative Space</h1>
    <p class="lead">Welcome to Anthony Kirn's Programming Website</p>
    <hr class="my-4">
    <p>Hello I am a Digital Solutions student from Iona College</p>
</div>
<div class="flashes">
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>
{% if entires == [] %}
    <h2>And there is slience....</h2>
    <p>Doesn't look like their is any content here</p>
{% endif %}
{% for i in entries %}
    <div class="card w-75" style="width: auto; margin-left: auto; margin-right: auto; vertical-align: middle; margin-top: 15px">
        {% if i.image != '' %}
            <figure class="figure">
            <img src="{{ i.image }}" class="card-img-top" alt="...">
            <figcaption class="figure-caption" style="margin-left: 30px">{{ i.ConText }}</figcaption>
            </figure>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title"
                style="border-bottom: darkgray; border-radius: 4px; border-bottom-style: solid">{{ i.title }}

            </h5>
            <p class="card-text">{{ i.description }}</p>
            <button class="btn btn-primary" onclick="{{ app.AddLike(i.id) }}">Like: {{ i.likes }}</button>

        </div>
    </div>
{% endfor %}
{% block error %}
{% endblock %}

{% block Signup %}
{% endblock %}





    <!-- Login Window>
 <!-- Modal -->
    <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Administrator Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    {% if bFailure == True %}
                        {% if fail == failenum.FailedPassword %}
                            <div class='alert alert-danger' role='alert'> Incorrect Password</div>
                        {% endif %}
                        {% if fail == failenum.FailedNone %}
                            <div class='alert alert-danger' role='alert'> Please enter a username and password</div>
                        {% endif %}
                    {% endif %}
                    <form action="http://127.0.0.1:5000" method="post">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Username</label>
                        <input type="text" class="form-control" id="staticEmail" placeholder="Enter Username"
                               name="Username">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Enter Password"
                               name="Password">
                        <p>Don't have a admin account yet?<a href="{{ url_for('SignUp') }}"> Click Here</a>
                        </p>

                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    {% if bFailure == True %}
        <script type="text/javascript">
            $(window).on('load', function () {
                var delayMs = 200; // delay in milliseconds

                setTimeout(function () {
                    $('#Login').modal('show');
                }, delayMs);
            });
        </script>
    {% endif %}
</body>
</html>